body {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    min-height: 480px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 320px;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 48px;
    margin-top: 0px;
}

p {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: #ff8734;
}

:root {
    color-scheme: light dark;
}
